td{
        height: 20px!important;
        text-align: center;
        font-size: 10px;
}
th{
    color: black;
        font-weight: bold;
        height: 20px!important;
        text-align: center!important;
        font-size: 10px;
}
tr{
    height: 25px!important; 
}
table{
    height: 100%!important;
}