<div class="box mat-elevation-z2 ">
  <div class="container-1">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" class="search" id="search" [formControl]="queryField" placeholder="Search..." [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of results" [value]="result.tcsID">
        <span>{{result.name}}</span>|
        <span>{{result.email}}</span>
      </mat-option>
    </mat-autocomplete>
    <!--<app-search></app-search>-->
  </div>
</div>




<div class="container">
  <div class="row">

    <div class="col">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h6 class="text-center">Text One</h6>
      <small>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </small>
    </div>
    <div class="col">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h6 class="text-center">Text One</h6>
      <small>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </small>
    </div>
    <div class="col">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h6 class="text-center"> Text One</h6>
      <small>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </small>
    </div>
    <div class="col">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h6 class="text-center">Text One</h6>
      <small>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
      </small>
    </div>
    <div class="col">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h6 class="text-center">Text One</h6>
      <small>
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      </small>
    </div>

  </div>
</div>
