@import '~@angular/material/theming';
@include mat-core();
$primary:mat-palette($mat-grey, 200, 500, 300);
$accent:   mat-palette($mat-brown, 200);
$warn:   mat-palette($mat-deep-orange, 200);    
$theme: mat-light-theme(
    $anms-light-primary,
    $anms-light-accent,
    $anms-light-warn
  );
@include angular-material-theme($theme);