<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav"  >
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="sidenav-link" [routerLink]="['/home']" (click)="sidenav.toggle()">
        <!--<mat-icon mat-list-icon>Home</mat-icon>-->
        <span class="title" mat-line>Home</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/profile']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Profile</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/team']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Team</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/team']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Team</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Project</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Training And Developement</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Project</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Reward And Recognition</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>History</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/Project']" (click)="sidenav.toggle()">
        <span class="title" mat-line>Organisation</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link">Dashboard</a>
    </h1>
   <a class="title-name">My Name</a>
    <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
  <!--<button id="button-logout" mat-button>Log Out</button>-->
    <img src="https://lh3.googleusercontent.com/-d-AtUoreiCw/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rf9CPNmR0I6fCeWLCngLCUq28npqA/s32-c-mo/photo.jpg" />
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
