/*.sidebar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
  
  .sidebar-is-mobile .sidebar-toolbar {
    position: fixed;

    z-index: 2;
  }
  
  h1.sidebar-app-name {
    margin-left: 8px;
  }
  
  .sidebar-sidenav-container {
    flex: 1;
  }
  
  .sidebar-is-mobile .sidebar-sidenav-container {
    flex: 1 0 auto;
  }

  mat-sidenav{
    width:200px;
    background-color:#000000;
    color:#ffffff
  }*/

.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  flex: 1 1 auto
}
mat-sidenav {
  background-color: #000000;
  color: #ffffff;
  text-align:right;
}
h1.component-title {
  font-size:15px;
  text-align: center;
  width: 100%;
}
a.title-link {
  padding:10px;
  border-style: solid;
  border-width: 1px;
}
img{
  border-radius : 50%;
}
a.title-name {
  font-size: 10px;
  margin-right: 10px;
}
button{
  background-color:#ffffff;
}
